<!DOCTYPE HTML>

<html>
	<head>
		<title>Michael Hutchinson</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/profile_photo_circle.png" alt="" width="200" /></span>
							<h1>Michael Hutchinson</h1>
							<p>Trainee Actuary | Programmer</p>
						</header>

						<footer>

						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Michael Hutchinson</li><li>LinkedIn: <a class="footer-link" href="https://www.linkedin.com/in/michael-hutchinson-1888a315b/" target="_blank"><img src="static/images/linkedin_logo.ico" alt="LinkedIn Profile" width="20"></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>